<section id='inns'>
  <% if @recent_inns.empty? %>
    <p>Não existem pousadas cadastradas</p>
  <% else %>
    <section id='recent_inns'>
      <h1>Pousadas Mais Recentes</h1>
      <% @recent_inns.each do |inn| %>
        <%= link_to "#{inn.trade_name} - #{inn.address.city}", inn_path(inn) %><br>
      <% end %>
    </section>
    <section id='other_inns'>
      <h1>Outras Pousadas Ativas</h1>
      <% @other_inns.each do |inn| %>
        <%= link_to "#{inn.trade_name} - #{inn.address.city}", inn_path(inn) %><br>
      <% end %>
    </section>
  <% end %>
</section>