<h2>Confirmação da Reserva</h2>

<p>Por favor, revise os detalhes da sua reserva antes de confirmar:</p>

<%= render 'shared/reservation_details', reservation: @reservation, room: @room %>

<%=button_to('Confirmar Reserva', confirm_reservation_inn_room_reservations_path(@room.inn, @room, @reservation), method: :get) %>

