<h1>Minhas Reservas</h1>

<% if @reservations.empty? %>
  Você ainda não fez nenhuma reserva.
<% else %>
  <div class="room-container">        
  <% @reservations.each do |reservation| %>
    <div class="room-card">
      <%= render 'reservation_details', reservation: reservation, room: reservation.room %>
    </div>
  <% end %>
  </div>
<% end %>