<% if user_signed_in? %>
  <h1>Reservas Ativas</h1>
  <% if @reservations.empty? %>
    Sua pousada ainda não possui reservas ativas.
  <% else %>
    <div class="room-container">        
    <% @reservations.each do |reservation| %>
      <div class="room-card">
        <%= render 'shared/reservation_details', reservation: reservation, room: reservation.room %>
      </div>
    <% end %>
    </div>
  <% end %>
<% elsif customer_signed_in? %>
  <h1>Minhas Reservas Ativas</h1>
  <% if @reservations.empty? %>
    Você ainda não fez check-in em nenhuma reserva.
  <% else %>
    <div class="room-container">        
    <% @reservations.each do |reservation| %>
      <div class="room-card">
        <%= render 'shared/reservation_details', reservation: reservation, room: reservation.room %>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>