<h1>Avaliações</h1>

<% if user_signed_in? %>
  <% if @reviews.empty? %>
    Sua pousada ainda não possui avaliações.
  <% else %>
    <div class="room-container">        
    <% @reservations.each do |reservation| %>
      <div class="room-card">
        <%= render 'shared/reservation_details', reservation: reservation, room: reservation.room %>
      </div>
    <% end %>
    </div>
  <% end %>
<% else %>
  <% if @reviews.empty? %>
    A pousada ainda não possui avaliações.
  <% else %>
    <div class="room-container">        
    <% @reservations.each do |reservation| %>
      <div class="room-card">
        <%= render 'shared/reservation_details', reservation: reservation, room: reservation.room %>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>